@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background: rgb(160, 160, 160);
    background: linear-gradient(180deg, rgb(123, 56, 248) 0%, rgb(218, 187, 230) 54%, rgba(223, 160, 237, 1) 84%);
    min-height: 100vh;
    font-size:  larger;
}